/* canvas styles */
html, body
{
	background:#f9f9f9;
	color:#000;
}

table, tr
{
	float:none;
	width:100%;
}

th
{
	list-style-type:none;

	width:30%;
	height:1.0em;
	overflow-y:auto;

	margin:0 0.5em 0.5em 0;
	padding:0.5em;

	border:0px solid #888;
	border-radius:0.5em;

	text-align: center;
	font-size: 125%;
}

th[type="results"][win="no"]
{
	background:#f9f9f9;
}

th[type="results"][win="yes"][vote-type="yes"]
{
	background:#0f0;
}

th[type="results"][win="yes"][vote-type="abstain"]
{
	background:#ff0;
}

th[type="results"][win="yes"][vote-type="no"]
{
	background:#f00;
}

/* draggable targets */
[data-draggable="target"]
{
	list-style-type:none;

	height:7.5em;
	overflow-y:auto;

	margin:0 0.25em 0.25em 0;
	padding:0.5em;

	border:2px solid #888;
	border-radius:0.2em;

	background:#ddd;
}

[data-draggable="target"][vote-type="yes"]
{
	background:#ada;
}

[data-draggable="target"][vote-type="abstain"]
{
	background:#dda;
}

[data-draggable="target"][vote-type="no"]
{
	background:#daa;
}

[data-draggable="target"][vote-type="yes"][aria-dropeffect="move"]
{
	border-color:#68b;
	background:#dfd
}

[data-draggable="target"][vote-type="abstain"][aria-dropeffect="move"]
{
	border-color:#68b;
	background:#ffd
}

[data-draggable="target"][vote-type="no"][aria-dropeffect="move"]
{
	border-color:#68b;
	background:#fdd
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;

	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
	display:block;
	list-style-type:none;

	font-size: 0.8em;
	margin:0 0 2px 0;
	padding:0.2em 0.4em;

	border-radius:0.2em;

	line-height:1.0;
}

/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;

	box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	background:#8ad;
	color:#fff;
}
