---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Meeting Attendance</h1>
    <h2>{{ page.date }}</h2>
    <table>
        <tr>
            <td><a href="logistics">Logistics</a></td>
            <td><a href="agenda">Agenda</a></td>
            <td><a href="https://github.com/mpi-forum/mpi-forum.github.io/tree/master/slides/{{ page.year }}/{{ page.month }}">Presentations</a></td>
            <td><a href="attendance">Attendance</a></td>
            <td><a href="votes">Voting</a></td>
            <td><a href="notes">Notes</a></td>
        </tr>
    </table>
  </header>

  <div class="post-content">
    {{ content }}

  Attendees List:
  <ol>
      {% for person in site.data.meetings[page.year][page.month].attendance %}
      <li> {{ person.name }} ({{ person.org }}) </li>
      {% endfor %}
  </ol>

  </div>

</article>
