---
layout: default
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">Meeting Attendance</h1>
        <h2>{{ page.date }}</h2>
        <table>
            <tr>
                <td><a href="logistics">Logistics</a></td>
                <td><a href="agenda">Agenda</a></td>
                <td><a href="https://github.com/mpi-forum/mpi-forum.github.io/tree/master/slides/{{ page.year }}/{{ page.month }}">Presentations</a></td>
                <td><a href="attendance">Attendance</a></td>
                <td><a href="votes">Votes</a></td>
                <td><a href="notes">Notes</a></td>
            </tr>
        </table>
    </header>

    <div class="post-content">
        {{ content }}

        <h4>This list is updated manually and may not contain the most recent registrations.</h4>

        <ol>
            {% for person in site.data.meetings[page.year][page.month].attendance %}
            <li> {{ person.name }} ({{ person.org }})
                {% if person.remote == "1" %} - Remote{% endif %}
                {% if person.attend == "-1" %}<b>- Not Present</b>{% endif %}
                {% if person.attend == "0" %}<b>- Not Present for First Vote</b>{% endif %}
            </li>
            {% endfor %}
        </ol>

        {% if page.prev_year != nil %}
          {% assign cur_attend = site.data.meetings[page.year][page.month].attendance %}
          {% assign prev_orgs = site.data.meetings[page.prev_year][page.prev_month].attendance | sort: "org" | map: "org" | uniq %}
          {% assign prev_prev_orgs = site.data.meetings[page.prev_prev_year][page.prev_prev_month].attendance | sort: "org" | map: "org" | uniq %}
          {% assign imove_orgs = "" | split: ',' %}
          {% assign ooe_orgs = "" | split: ',' %}
          {% assign ineligible_orgs = "" | split: ',' %}

          {% for person in cur_attend %}
            {% if prev_orgs contains person.org or prev_prev_orgs contains person.org %}
              {% if person.attend == "1" %}
                {% unless person.org == "Self (Non-voting participant)" %}
                  {% assign imove_orgs = imove_orgs | push: person.org | uniq%}
                {% endunless %}
              {% else %}
                {% unless imove_orgs contains person.org %}
                  {% assign ooe_orgs = ooe_orgs | push: person.org | uniq %}
                {% endunless %}
              {% endif %}
            {% else %}
              {% unless ineligible_orgs contains person.org %}
                {% assign ineligible_orgs = ineligible_orgs | push: person.org %}
              {% endunless %}
            {% endif %}
          {% endfor %}

          {% assign ooe = ooe_orgs.size | plus: imove_orgs.size %}
          {% assign prev_ooe = 0 %}

          {% for p in site.pages %}
            {% if p.year == page.prev_year and p.month == page.prev_month %}
              {% assign prev_ooe = p.ooe %}
            {% endif %}
          {% endfor %}

          <h3> IMOVE Orgs ({{imove_orgs.size}} of {{ prev_ooe | times: 0.66 | ceil }} needed) </h3>
          {% assign imove_orgs = imove_orgs | sort %}
          {% for org in imove_orgs %}
            <li> {{ org }}</li>
          {% endfor %}

          <h3> Ineligible Orgs </h3>
          <h4> Not Present at Current Meeting </h4>
            {% assign ooe_orgs = ooe_orgs | sort %}
            {% for org in ooe_orgs %}
              {% unless imove_orgs contains org %}
                <li> {{ org }}</li>
              {% endunless %}
            {% endfor %}
          <h4> Did Not Attend 2 of 3 Recent Meetings </h4>
            {% assign ineligible_orgs = ineligible_orgs | sort %}
            {% for org in ineligible_orgs %}
              {% unless org == "Self (Non-voting participant)" %}
                <li> {{ org }}</li>
              {% endunless %}
            {% endfor %}
          <h4> Did Not Register for Current Meeting </h4>
            {% for org in prev_orgs %}
              {% unless imove_orgs contains org or ooe_orgs contains org %}
                {% unless org == "Self (Non-voting participant)" %}
                  <li> {{ org }}</li>
                {% endunless %}
              {% endunless %}
            {% endfor %}
            {% for org in prev_prev_orgs %}
              {% unless imove_orgs contains org or ooe_orgs contains org or prev_orgs contains org %}
                {% unless org == "Self (Non-voting participant)" %}
                  <li> {{ org }}</li>
                {% endunless %}
              {% endunless %}
            {% endfor %}
        {% endif %}

    </div>

</article>
