---
layout: default
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <h4>
            All Times Central US
            {% if page.type == "non_voting" %}
             - Conversion Links Beside Each Event
            {% endif %}
        </h4>
        {% if page.type == "non_voting" %}
        <table><tr>
            <td><a href="https://github.com/mpi-forum/mpi-standard/wiki/">Meeting Information</a></td>
            <td><a href="https://github.com/mpi-forum/mpi-issues/wiki/Access-to-the-MPI-Forum-private-repository">Registration</a></td>
            <td><a href="https://calendar.google.com/calendar/b/2?cid=ZzVtczhyM2lhajN1M3VuM2NqbmRxbWpiYzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Google Calendar</a></td>
            <td><a href="https://calendar.google.com/calendar/ical/g5ms8r3iaj3u3un3cjndqmjbc0%40group.calendar.google.com/public/basic.ics">iCAL Subscription</a></td>
        </tr></table>
        {% endif %}

    </header>

    <div class="post-content">
        {{ content }}

        {% if page.type == "voting" %}
            {% assign meetings = site.data.meeting_list.voting%}
        {% elsif page.type == "non_voting" %}
            {% assign meetings = site.data.meeting_list.non_voting%}
        {% endif %}

        {% for item in meetings %}
            {% if item.year.size > 0 %}
                <h3>{{ item.year }}</h3>
            {% elsif item.blank.size > 0 %}
                <br />
            {% else %}
                {% if page.type == "non_voting" %}
                    <h4>
                        <a href="https://time.is/{{ item.start | date: "%H%M%p_%-d_%B_%Y_in_CT" }}">
                        {{ item.start | date: "%-d %B" }}, {{ item.start | date: "%R" }} - {{ item.end | date: "%R" }}</a>
                        - {{ item.title }}
                        {% if item.recording_url.size > 0 %}
                            - <a href="{{ item.recording_url }}">Recording </a>
                        {% endif %}
                        {% if item.slides_url.size > 0 %}
                            {% if item.slides_url != "none" %}
                            - <a href="{{ item.slides_url }}">Slides</a>
                            {% endif %}
                        {% endif %}
                    </h4>
                {% else %}
                    <h4>{{ item.start | date: "%-d %B %Y" }} - {{ item.end | date: "%-d %B %Y" }} - {{ item.title }}</h4>
                    {% if item.links != "no" %}
                        <h5><table><tr>
                            <td><a href="{{ item.start | date: "%Y/%m" }}/logistics">Logistics</a></td>
                            <td><a href="{{ item.start | date: "%Y/%m" }}/agenda">Agenda</a></td>
                            <td><a href="https://github.com/mpi-forum/mpi-forum.github.io/tree/master/_slides/{{ item.start | date: "%Y/%m" }}">Presentations</a></td>
                            <td><a href="{{ item.start | date: "%Y/%m" }}/attendance">Attendance</a></td>
                            <td><a href="{{ item.start | date: "%Y/%m" }}/votes">Votes</a></td>
                            <td><a href="{{ item.start | date: "%Y/%m" }}/notes">Notes</a></td>
                        </tr></table></h5>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

</article>
