---
layout: default
---
<article class="post">

    <header class="post-header">
        <h2 class="post-title">{{ page.date }} Meeting</h2>
    </header>

    <div class="post-content">
        <h4>
        <a href="logistics">Logistics</a></br></br>

        <a href="agenda">Agenda</a></br></br>

        <a href="https://github.com/mpi-forum/mpi-forum.github.io/tree/master/slides/{{ page.year }}/{{ page.month }}">Presentations</a></br></br>

        <a href="attendance">Attendance</a></br></br>

        <a href="votes">Voting</a></br></br>

        <a href="notes">Notes</a></br></br>
        </h4>
        {{ content }}
    </div>

</article>

