---
layout: default
---

<script>
    function ballot(rules, yes, no, abstain, missed, type, imove) {
        if (yes == 0 && no == 0 && abstain == 0 && missed == 0) {
            return "<font color=\"orange\">Votes not yet occurred</font>";
        }

        if (rules == 0000) {
            if (yes > no) {
                return "<font color=\"green\">Passed</font>";
            } else {
                return "<font color=\"red\">Failed Vote</font>";
            }
        } else if (rules == 52012) {
            if (yes > (no + abstain + missed)) {
                return "<font color=\"green\">Passed</font>";
            } else {
                return "<font color=\"red\">Failed Vote</font>";
            }
        } else if (rules == 72012) {
            if (yes > (no + abstain)) {
                return "<font color=\"green\">Passed</font>";
            } else {
                return "<font color=\"red\">Failed Vote</font>";
            }
        } else if (rules == 3152013) {
            if ((yes + no) >= (0.75 * imove)) {
                if (type != "no-no") {
                    if (yes >= 0.75 * (yes + no)) {
                        return "<font color=\"green\">Passed</font>";
                    } else {
                        return "<font color=\"red\">Failed Vote</font>";
                    }
                } else {
                    if (no > 0) {
                        return "<font color=\"red\">Failed Vote</font>";
                    } else {
                        return "<font color=\"green\">Passed</font>";
                    }
                }
            } else {
                return "<font color=\"red\">Failed Ballot Quorum</font>";
            }
        } else {
            return "<font color=\"orange\">Unknown Rules</font>";
        }
    }

    function short_name(name) {
        name_map = {
            "ARM": "ARM",
            "Atos": "Atos",
            "Argonne National Laboratory": "ANL",
            "Auburn University": "Auburn",
            "Barcelona Supercomputer Center": "BSC",
            "Brookhaven National Laboratory": "BNL",
            "University of Basel": "U Basel",
            "CEA": "CEA",
            "Cisco": "Cisco",
            "Collis-Holmes Innovations Limited": "CHI Ltd.",
            "Cornelis Networks": "Cornelis",
            "ETH Zurich": "ETH Zurich",
            "EPCC, The University of Edinburgh": "EPCC",
            "Forschungszentrum Julich": "Julich",
            "Fujitsu": "Fujitsu",
            "HDF Group": "HDF",
            "HLRS, University of Stuttgart": "HLRS",
            "HPE": "HPE",
            "IBM": "IBM",
            "INRIA": "INRIA",
            "Intel Corporation": "Intel",
            "KTH": "KTH",
            "Kyushu University": "U Kyushu",
            "Lenovo": "Lenovo",
            "Lawrence Berkeley National Laboratory": "LBL",
            "Lawrence Livermore National Laboratory": "LLNL",
            "Leibniz Supercomputing Centre": "Leibniz",
            "Los Alamos National Laboratory": "LANL",
            "Microsoft Inc.": "Microsoft",
            "NEC Corporation": "NEC",
            "NVIDIA": "NVIDIA",
            "Oak Ridge National Laboratory": "ORNL",
            "Ohio State University": "OSU",
            "PAR-TEC": "PAR-TEC",
            "Pacific Northwest National Laboratory": "PNNL",
            "ParaTools SAS": "ParaTools",
            "Queen\'s University": "Queen\'s U",
            "RIKEN": "RIKEN",
            "RWTH Aachen University": "RWTH",
            "Sandia National Laboratory": "SNL",
            "Technical University of Munich": "TUM",
            "The Texas Advanced Computing Center": "TACC",
            "The University of Texas at El Paso": "UTEP",
            "The University of Tokyo": "U Tokyo",
            "Tennessee Tech University": "TN Tech",
            "University of Innsbruck": "U Innsbruck",
            "University of Oregon": "U Oregon",
            "University of Alabama": "U Alabama",
            "University of Alabama at Birmingham": "UAB",
            "University of Illinois Urbana-Champaign": "UIUC",
            "University of New Mexico": "UNM",
            "University of Tennessee, Chattanooga": "UTC",
            "University of Tennessee, Knoxville": "UTK",
            "VSC Research Center, TU Wien": "TU Wien",
            "ZIH, TU Dresden": "ZIH/TUD",
        };

        if (name in name_map) {
            return name_map[name];
        } else {
            return name;
        }
    }
</script>

{% if page.imove.size > 0 %}
{% assign imove = page.imove %}
{% else %}
{% assign imove = 0 %}
{% endif %}

<article class="post">

    <header class="post-header">
        <h1 class="post-title">Meeting Votes</h1>
        <h2>{{ page.date }}</h2>
        <table>
            <tr>
                <td><a href="logistics">Logistics</a></td>
                <td><a href="agenda">Agenda</a></td>
                <td><a href="https://github.com/mpi-forum/mpi-forum.github.io/tree/master/slides/{{ page.year }}/{{ page.month }}">Presentations</a></td>
                <td><a href="attendance">Attendance</a></td>
                <td><a href="votes">Votes</a></td>
                <td><a href="notes">Notes</a></td>
            </tr>
        </table>
    </header>

    <div class="post-content">

        {% if page.registered > 0 %}
        <b>Registered:</b> {{ page.registered }}<br>
        {% endif %}
        {% if page.attended > 0 %}
        <b>Attended:</b> {{ page.attended }}<br>
        {% endif %}
        {% if page.ooe > 0 %}
        <b>OOE:</b> {{ page.ooe }}<br>
        {% endif %}
        {% if page.imove > 0 %}
        <b>IMOVE:</b> {{ imove }}<br>
        {% endif %}
        {% if page.imove > 0 %}
        <b>Votes needed for individual vote quorum:</b> <script> document.write(Math.ceil((3/4) * {{imove}})); </script> <br>
        {% endif %}
        <br>

        <b>Individual organization's votes are show as colored blocks as follows:</b>
        <table><tr>
            <th bgcolor="#55FF55">Yes</th>
            <th bgcolor="#FF9999">No</th>
            <th bgcolor="#FFFF55">Abstain</th>
            <th bgcolor="#9999FF">Miss</th>
        </tr></table>

        <br>
        <hr>
        {{ content }}
        {% if site.data.meetings[page.year][page.month].votes.size == 0 %}
        <h2> No votes scheduled </h2>
        {% else %}
        <ol>
            {% for vote in site.data.meetings[page.year][page.month].votes %}
                {% if vote.topic == "daybreak" %}
                    <center><h3>Begin New Voting Day</h3></center>
                    <hr>
                {% else %}
                  <li> Vote Topic: <b>#{{ vote.number }}: {{ vote.topic }} ({{ vote.type }})</b><br>
                        {% assign yes_votes = vote.yes %}
                        {% assign no_votes = vote.no %}
                        {% if vote.abstain.size > 0 %}
                            {% assign abstain_votes = vote.abstain %}
                        {% else %}
                            {% assign abstain_votes = 0 %}
                        {% endif %}
                        {% if vote.missed.size > 0 %}
                            {% assign missed_votes = vote.missed %}
                        {% else %}
                            {% assign missed_votes = 0 %}
                        {% endif %}
                        <table>
                            <tr>
                                <th>Yes</th>
                                <th>No</th>
                                <th>Abstain</th>
                                {% if page.rules == 52012 %}
                                    {% if vote.missed.size > 0 %}<th>Missed</th>{% endif %}
                                {% endif %}
                                <th>Result</th>
                            </tr>
                            <tr>
                                <td>{{ yes_votes }}</td>
                                <td>{{ no_votes }}</td>
                                {% if vote.abstain.size > 0 %}<td>{{ abstain_votes }}</td>{% endif %}
                                {% if page.rules == 52012 %}
                                    {% if vote.missed.size > 0 %}<td>{{ missed_votes }}</td>{% endif %}
                                {% endif %}
                                <td><script>
                                        document.write(ballot({{page.rules}},{{yes_votes}},{{no_votes}},{{abstain_votes}},{{missed_votes}},"{{ vote.type }}",{{imove}}));
                                </script></td>
                            </tr>
                        </table>

                        <br />

                        {% if site.data.meetings[page.year][page.month].ballot.size > 0 %}
                            <font size="2">
                            <table>
                                <tr>
                                    {% assign vote_topic = "#" | append: vote.number | append: ": " | append: vote.topic | append: " (" | append: vote.type | append: ")" %}
                                    {% assign sorted_orgs = site.data.meetings[page.year][page.month].ballot | sort: "org" | map: "org" %}
                                    {% assign sorted_votes = site.data.meetings[page.year][page.month].ballot | sort: "org" | map: vote_topic %}
                                    {% assign i = 0 %}
                                    {% for org in sorted_orgs %}
                                        {% assign i = i | plus:1 %}
                                        {% if i > 10 %}
                                            </tr><tr>
                                            {% assign i = 1 %}
                                        {% endif %}

                                        {% if sorted_votes[forloop.index0] == "Yes" or sorted_votes[forloop.index0] == "yes" %}
                                            <th bgcolor="#55FF55"><script>
                                                    document.write(short_name("{{ org }}"));
                                            </script></th>
                                        {% elsif sorted_votes[forloop.index0] == "No" or sorted_votes[forloop.index0] == "no" %}
                                            <th bgcolor="#FF9999"><script>
                                                    document.write(short_name("{{ org }}"));
                                            </script></th>
                                        {% elsif sorted_votes[forloop.index0] == "Abstain" or sorted_votes[forloop.index0] == "abstain" %}
                                            <th bgcolor="#FFFF55"><script>
                                                    document.write(short_name("{{ org }}"));
                                            </script></th>
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </table>
                            </font>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}

    </div>

</article>
