---
layout: default
---

<script>
function ballot(rules, yes, no, abstain, missed, type, imove) {
    if (rules == 0000) {
        if (yes > no) {
            return "<font color=\"green\">Passed</font>";
        } else {
            return "<font color=\"red\">Failed Vote</font>";
        }
    } else if (rules == 52012) {
        if (yes > (no + abstain + missed)) {
            return "<font color=\"green\">Passed</font>";
        } else {
            return "<font color=\"red\">Failed Vote</font>";
        }
    } else if (rules == 72012) {
        if (yes > (no + abstain)) {
            return "<font color=\"green\">Passed</font>";
        } else {
            return "<font color=\"red\">Failed Vote</font>";
        }
    } else if (rules == 3152013) {
        if ((yes + no) > (0.75 * imove)) {
            if (type != "no-no") {
                if (yes > 0.75 * (yes + no)) {
                    return "<font color=\"green\">Passed</font>";
                } else {
                    return "<font color=\"red\">Failed Vote</font>";
                }
            } else {
                if (no > 0) {
                    return "<font color=\"red\">Failed Vote</font>";
                } else {
                    return "<font color=\"green\">Passed</font>";
                }
            }
        } else {
            return "<font color=\"red\">Failed Ballot Quorum</font>";
        }
    } else {
        return "<font color=\"orange\">Unknown Rules</font>";
    }
}
</script>
{% if page.imove.size > 0 %}
    {% assign imove = page.imove %}
{% else %}
    {% assign imove = 0 %}
{% endif %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">Meeting Votes</h1>
    <h2>{{ page.date }}</h2>
    <table>
        <tr>
            <td><a href="logistics">Logistics</a></td>
            <td><a href="agenda">Agenda</a></td>
            <td><a href="https://github.com/mpi-forum/mpi-forum.github.io/tree/master/slides/{{ page.year }}/{{ page.month }}">Presentations</a></td>
            <td><a href="attendance">Attendance</a></td>
            <td><a href="votes">Voting</a></td>
            <td><a href="notes">Notes</a></td>
        </tr>
    </table>
  </header>

  <div class="post-content">

  {% if page.registered > 0 %}
  <b>Registered:</b> {{ page.registered }}<br>
  {% endif %}
  {% if page.attended > 0 %}
  <b>Attended:</b> {{ page.attended }}<br>
  {% endif %}
  {% if page.ooe > 0 %}
  <b>OOE:</b> {{ page.ooe }}<br>
  {% endif %}
  {% if page.imove > 0 %}
  <b>IMOVE:</b> {{ imove }}<br>
  {% endif %}
  {% if page.imove > 0 %}
  <b>Votes needed for individual vote quorum:</b> <script> document.write((3/4) * {{imove}}); </script> <br>
  {% endif %}
  <br>

  <script>
  if ({{ page.rules }} == 3152013) {
      document.write("<b>Note:</b> \"Miss\" counts the same as \"abstain\"<br>");
  }
  </script>
  <br>
  <hr>
  {{ content }}
  <ol>
      {% for vote in site.data.meetings[page.year][page.month].votes %}
      <li> Vote Topic: <b>{{ vote.topic }} ({{ vote.type }})</b><br>
          {% assign yes_votes = vote.yes %}
          {% assign no_votes = vote.no %}
          {% if vote.abstain.size > 0 %}
              {% assign abstain_votes = vote.abstain %}
          {% else %}
              {% assign abstain_votes = 0 %}
          {% endif %}
          {% if vote.missed.size > 0 %}
              {% assign missed_votes = vote.missed %}
          {% else %}
              {% assign missed_votes = 0 %}
          {% endif %}
          <table>
              <tr>
                  <th>Yes</th>
                  <th>No</th>
                  <th>Abstain</th>
                  {% if vote.missed.size > 0 %}<th>Missed</th>{% endif %}
                  <th>Result</th>
              </tr>
              <tr>
                  <td>{{ yes_votes }}</td>
                  <td>{{ no_votes }}</td>
                  {% if vote.abstain.size > 0 %}<td>{{ abstain_votes }}</td>{% endif %}
                  {% if vote.missed.size > 0 %}<td>{{ missed_votes }}</td>{% endif %}
                  <td><script>
                    document.write(ballot({{page.rules}},{{yes_votes}},{{no_votes}},{{abstain_votes}},{{missed_votes}},"{{ vote.type }}",{{imove}}));
                  </script></td>
              </tr>
          </table>
      </li>
      {% endfor %}
  </ol>

  </div>

</article>
